{% extends 'projects/layout.html' %}
{% block title %}Projects{% endblock title %}
{% block css %}{% endblock css %}

{% block body %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to <span style="color: green">Projects</span>!</h1>
        <p class="lead my-3">Here are some of my projects from simple api Web Applications to Deep Learning Projects. Both source code and Deployed version links are provided below.</p>
      </div>
    </div>
  
    <div class="row mb-2">
      {% for proj in allProj %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">{{proj.Tag}}</strong>
            <h3 class="mb-0">{{proj.Title}}</h3>
            <div class="mb-1 text-muted">{{proj.TimeStamp}}</div>
            <p class="card-text mb-auto">{{proj.Body|striptags|safe | truncatechars:300}}</p>
            <a href="project/{{proj.Slug}}" class="stretched-link text-success">Continue reading</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock body %}